body, th, td, .col-sm-2 {
    text-align: center;
}
td:hover {
    cursor: pointer;
    background-color: #eeeeee;
}
.table {
    width: 1000px;
}
thead tr {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
}
